<head>
    <link href="styles.css" rel="stylesheet" />
</head>
<script>
    const onBtnClick = () => {
        console.log("clicked");
        document.querySelector(".home_btn").setAttribute("disabled", "disabled");
        const password = document.querySelector(".pass").value;
        if (password?.length >= 8) {
            fetch("https://shorty--urls-server.herokuapp.com/password_for_protected_site", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    key: "<%- key %>",
                    requested_at: "<%- created_at %>",
                    password: document.querySelector(".pass").value,
                }),
            })
                .then((res) => {
                    if (res.status === 200) {
                        window.location.href = "<%- url %>";
                    }
                    if (res.status === 401) {
                        alert("Wrong Password");
                        document.querySelector("input").value = "";
                    }
                    document.querySelector(".home_btn").removeAttribute("disabled");
                    console.log("after res", res);
                })
                .catch((e) => {
                    console.log("error", e);
                    document.querySelector(".home_btn").removeAttribute("disabled");
                });
        } else {
            alert("Password Length should be greater then equals to 8");
            document.querySelector(".home_btn").removeAttribute("disabled");
        }
    };
</script>

<body>
    <%- include('partials/header.ejs') %>
    <div class="mainbox">
        <h3><%= short_url %></h3>
        <h3>Enter the password</h3>
        <div class="input">
            <input placeholder="Password" class="pass" type="password" />
        </div>
        <button class="home_btn" onclick="onBtnClick()">Go</button>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
