<head>
    <link href="styles.css" rel="stylesheet" />
    <title>Protected Site | Password</title>
</head>
<script>
    const onBtnClick = () => {
        document.querySelector(".home_btn").setAttribute("disabled", "disabled");
        const password = document.querySelector(".pass").value;
        if (password?.length >= 8) {
            fetch("<%- base_URL %>password_for_protected_site", {
                // fetch("http://localhost:4000/password_for_protected_site", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    key: "<%- key %>",
                    requested_at: "<%- created_at %>",
                    password: document.querySelector(".pass").value,
                }),
            })
                .then((res) => {
                    if (res.status === 200) {
                        window.location.href = "<%- url %>";
                    } else if (res.status === 400) {
                        res.json().then((value) => {
                            alert(value?.error);
                        });
                    } else if (res.status === 401) {
                        alert("Wrong Password");
                    } else {
                        alert("Internal Error");
                    }
                    document.querySelector("input").value = "";
                    document.querySelector(".home_btn").removeAttribute("disabled");
                })
                .catch((e) => {
                    console.log("error", e);
                    document.querySelector(".home_btn").removeAttribute("disabled");
                });
        } else {
            alert("Password Length should be greater then equals to 8");
            document.querySelector(".home_btn").removeAttribute("disabled");
        }
    };
</script>

<body>
    <%- include('partials/header.ejs') %>
    <div class="mainbox">
        <h3><%= base_URL %><%= alias %></h3>
        <h3>Enter the password</h3>
        <div class="input">
            <input placeholder="Password" class="pass" type="password" />
        </div>
        <button class="home_btn" onclick="onBtnClick()">Go</button>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
